ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    background-color: black;
    border-radius: 5px;

}
li a{
    text-decoration: none;
    color: white;
    float: left;
    padding: 20px;
}
li a:hover{
    background-color: rgb(133, 128, 128);
}